/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif !important;
}

#body-content {
  padding: 1.5rem 1rem 1rem 1rem;
}

.text-center {
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom nav header */
.navbar {
  background-color: #F9E79F;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  font-family: "Open Sans", sans-serif
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Blog pagination */
.pagination {
  display: flex;
}
.centered {
  margin: auto;
}
span.previous,
span.next {
  color: grey;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive jumbotron text for phones and small tablets */
@media screen and (max-width: 575.98px) {
  .jumbotron h1 {
    font-size: 2em;
  }
}

.card {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background-color: #f0f0f0;
}

.card-img-top {
  padding: 10px;
}

/* DataTable styling */
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting_asc_disabled, 
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: 100% 75%;
}

table.dataTable th {
  padding-right: 20px;
}
table.dataTable thead .sorting:hover {
  background-image: url("../img/assets/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../img/assets/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../img/assets/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/assets/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/assets/sort_desc_disabled.png");
}

.dataTables_filter {
  display: none;
}
.dataTables_filter input {
  display: none;
}
.tables_filter {
  color: #333;
  float: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-top: 1em;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 210px;
}

select.filter {
  margin-left: 1px;
  width: 200px;
}

.taxonomy-filters {
  margin-top: 25px;
  opacity: 1;
  transition: opacity 1s;
}
.taxonomy-filters.hide {
  opacity: 0;
  display: none; /* Note: display: none cancels out the animation */
}

/* DataTable button styling */
.filter-toggle {
  margin-left: 20px;
  padding: 5px 10px;
  cursor:pointer;	
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;	
  box-shadow: #e3e3e3 0 1px 1px;	
  -moz-box-shadow:
    0px 1px 1px rgba(000,000,000,0.1),
    inset 0px 1px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 1px rgba(000,000,000,0.1),
    inset 0px 1px 1px rgba(255,255,255,0.7);	
}
.white {
  color: black;
  border: 1px solid #d3d3d3;	
  background: #ededed; /*fallback for non-CSS3 browsers*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9) to(#ededed)); /*old webkit*/
  background: -webkit-linear-gradient(#f9f9f9, #ededed); /*new webkit*/
  background: -moz-linear-gradient(#f9f9f9, #ededed); /*gecko*/
  background: -ms-linear-gradient(#f9f9f9, #ededed); /*IE10*/
  background: -o-linear-gradient(#f9f9f9, #ededed); /*opera 11.10+*/
  background: linear-gradient(#f9f9f9, #ededed); /*future CSS3 browsers*/
}
.white:active {
  background: #ededed; /*fallback for non-CSS3 browsers*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed) to(#f9f9f9)); /*old webkit*/
  background: -webkit-linear-gradient(#ededed, #f9f9f9); /*new webkit*/
  background: -moz-linear-gradient(#ededed, #f9f9f9); /*gecko*/
  background: -ms-linear-gradient(#ededed, #f9f9f9); /*IE10*/
  background: -o-linear-gradient(#ededed, #f9f9f9); /*opera 11.10+*/
  background: linear-gradient(#ededed, #f9f9f9); /*future CSS3 browsers*/
}

.hidden {
  display: none;
}
