/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif !important;
}

#body-content {
  padding: 1.5rem 1rem 1rem 1rem;
}

h3.text-center {
  text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom nav header */
.navbar {
  background-color: #F9E79F;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  font-family: "Open Sans", sans-serif
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Blog pagination */
.pagination {
  display: flex;
}
.centered {
  margin: auto;
}
span.previous,
span.next {
  color: grey;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive jumbotron text for phones and small tablets */
@media screen and (max-width: 575.98px) {
  .jumbotron h1 {
    font-size: 2em;
  }
}

.card {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background-color: #f0f0f0;
}

.card-img-top {
  padding: 10px;
}

/* DataTable styling */
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting_asc_disabled, 
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: 100% 75%;
}

table.dataTable th {
  padding-right: 20px;
}
table.dataTable thead .sorting:hover {
  background-image: url("../img/assets/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../img/assets/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../img/assets/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/assets/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/assets/sort_desc_disabled.png");
}

.hidden {
  display: none;
}