---
layout: page
title: Blog
permalink: /blog/
order: 1
---
<p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

{% for post in site.posts %}
<h3><a href="{{ post.url | prepend: site.baseurl }}" class="nounderline">{{ post.title }}</a></h3>
<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <time>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <a href="http://github.com/{{ post.author }}" target="_blank"><img src="https://github.com/{{ post.author }}.png?size=15"/></a> @{{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</time>
{{ post.content | markdownify }}
<hr>
{% endfor %}
