---
layout: page
title: Projects
permalink: /pheps/
order: 5
---
{% assign sorted_pheps = site.data.pheps | sort:'PHEP' %}
<p>
PyHC Enhancement Proposals are developed via the <a href="https://github.com/heliophysicsPy/standards/">PyHC standards repository</a>. PHEPs which have gone through the acceptance process, whether finally accepted or rejected, are linked here.
</p>
<h3>Final</h3>
<p>
  These PHEPs have been accepted and are currently in force.
</p>
{% assign id = 1 %}
{% include phep_table.html sorted_pheps=sorted_pheps id=id %}

<h3>Other</h3>
<p>
  These PHEPs have been rejected, withdrawn, or replaced, and thus are not currently in force.
</p>
{% assign id = 2 %}
{% include phep_table.html sorted_pheps=sorted_pheps id=id %}

