---
layout: default
---

<div class="jumbotron">
    <h1 class="display-3">Python in Heliophysics</h1>
    <p class="lead">A general list of software packages for Heliophysics.</p>
</div>

<div class="row marketing">
    <h2 class="text-center">Projects</h2>
</div>
<div class="row marketing">
    {% assign sorted_projects = site.data.projects | sort:'name' %}
    {% for project in sorted_projects %}
    <div class="card col-md-3">
        <div class="media">
            <div class="media-left">
                <a href="{{ project.url }}" target="_blank">
                    <img width="100px" class="media-object img-circle" src="{% if project.logo == blank %}https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png{% else %}{{ project.logo }}{% endif %}"/>
                </a>
            </div>
            <div class="media-body">
                <a href="{{ project.url }}" target="_blank"><h4 class="media-heading">{{ project.name }}</h4></a>
                {{ project.description }}<br>
                <b>{{ project.contact }}</b>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row marketing">
    <h2 class="text-center">People</h2>
</div>
<div class="row marketing">
    {% assign sorted_team = site.data.members | sort:'handle' %}
    {% for member in sorted_team %}
    <div class="card col-md-3">
        <div class="media">
            <div class="media-left">
                <a href="http://github.com/{{ member.handle }}" target="_blank">

                    <img class="media-object img-circle" width="60" src="http://github.com/{{ member.handle }}.png?size=60"/>
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@{{ member.handle }}</h4>
                <p>{{ member.name }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="row marketing">
        <h2 class="text-center">Stay in the know</h2>
        <h3 class="text-center">Keep up to date with the latest updates.</h3>
    </div>
<div class="row marketing">
    <ul class="list-group">
        {% for post in site.posts limit: 5 %}
        <li class="list-group-item">
            <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
            <time>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <a href="http://github.com/{{ post.author }}" target="_blank"><img src="http://github.com/{{ post.author }}.png?size=15"/></a> @{{ post.author }}{% endif %}
            </time>
        </li>
        {% endfor %}
    </ul>
</div>
