<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Group Logo can go here -->
  <!-- Collapse Menu on Mobile -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu -->
  <div class="collapse navbar-collapse">
      <a class="navbar-brand" href="/">Python in Heliophysics Community (PyHC)</a>
      <ul class="navbar-nav ml-auto">
        {% assign pages = site.pages | sort:'order' %}
        {% for p in pages %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == p.permalink %}active{% endif %}" href="{{ p.permalink }}">{{ p.title }}</a>
        </li>
        {% endfor %}
      </ul>
  </div>
</nav>
