<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/blog">Blog</a></li>
            <li role="presentation"><a href="/meetings">Meetings</a></li>
            <li role="presentation"><a href="/contact">Help</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">HelioPython</h3>
      </div>
