<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#table{{id}}" class="nav-link active" data-toggle="tab">Table</a>
    </li>
      <li class="nav-item">
          <a href="#cards{{id}}" class="nav-link" data-toggle="tab">Cards</a>
      </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade show active" id="table{{id}}">
        <table class="table table-striped" id="dataTable{{id}}">
          <!-- Taxonomy drop-down filters 
               TODO: generate dynamically from taxonomy.yml,
                     put description values in tooltips.     -->
          <div class="taxonomy-filters hide" id="taxonomy-filters{{id}}">
            <select class="filter" name="science_area" id="science_area{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="solar">Solar</option>
              <option value="magnetosphere">Magnetosphere</option>
              <option value="ionosphere_thermosphere_mesosphere">Ionosphere/Thermosphere/Mesosphere</option>
              <option value="heliosphere">Heliosphere</option>
              <option value="planetary">Plasma Physics</option>
            </select>
            <label for="science_area">Science Area</label>

            <br>

            <select class="filter" name="functionality" id="functionality{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="time">Time</option>
              <option value="coordinates">Coordinates</option>
              <option value="data_retrieval">Data Retrieval</option>
              <option value="line_plots">Line Plots</option>
              <option value="2D_imaging">2D Imaging</option>
              <option value="plotting">Plotting</option>
              <option value="3D_graphics">3D Graphics</option>
              <option value="data_container">Data Container</option>
              <option value="power_spectra">Power Spectra</option>
              <option value="spectra">Spectra</option>
              <option value="calibration">Calibration</option>
              <option value="multidimensional">Multidimensional</option>
              <option value="interactive">Interactive</option>
            </select>
            <label for="functionality">Functionality</label>

            <br>

            <select class="filter" name="span" id="span{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="general">General</option>
              <option value="specific">Specific</option>
            </select>
            <label for="span">Span</label>

            <br>

            <select class="filter" name="input_output_formats" id="input_output_formats{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="fits">FITS</option>
              <option value="cdf">CDF</option>
              <option value="netcdf">NetCDF</option>
              <option value="ascii">ASCII</option>
              <option value="idl_save">IDL SAVE</option>
              <option value="geny">Geny</option>
              <option value="hdf5">HDF5</option>
              <option value="omni">Omni</option>
              <option value="csv">CSV</option>
            </select>
            <label for="input_output_formats">Input/Output Formats</label>

            <br>

            <select class="filter" name="input_sources" id="input_sources{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="local">Local</option>
              <option value="remote">Remote</option>
              <option value="web_service">Web Service</option>
            </select>
            <label for="input_sources">Input Sources</label>

            <br>

            <select class="filter" name="intent" id="intent{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="data_analysis">Data Analysis</option>
              <option value="simulation">Simulation</option>
              <option value="theory">Theory</option>
              <option value="data_assimilation">Data Assimilation</option>
              <option value="laboratory">Laboratory</option>
              <option value="instrumentation">Instrumentation</option>
              <option value="data_access">Data Access</option>
              <option value="reference_data">Reference Data</option>
              <option value="wrapper">Wrapper</option>
            </select>
            <label for="intent">Intent</label>
          </div>
          <!-------------------------------->
          <label for="table_search{{id}}">Search:</label>
          <input type="search" class="tables_filter" id="table_search{{id}}" name="table_search{{id}}">
          <button class="filter-toggle white" id="filter-toggle{{id}}" onclick="toggleFilters(this.id)">Show Keyword Filters</button>
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Code</th>
              <th scope="col">Docs</th>
              <th scope="col">Site</th>
              <th scope="col">Contact</th>
              <th scope="col">Community</th>
              <th scope="col">Documentation</th>
              <th scope="col">Testing</th>
              <th scope="col">Software Maturity</th>
              <th scope="col">Python 3</th>
              <th scope="col">License</th>
            </tr>
          </thead>

          <tbody>
            {% for project in {{include.sorted_projects}} %}
            <tr>
              <th>{{ project.name }}</th>
              <td>
                {{ project.description }}
                <p class="hidden">
                  <br>
                  <i>Keywords: </i><br>
                  {% for keyword in {{project.keywords}} %}
                    {% if forloop.last == true %}
                      {{ keyword }}
                    {% else %}
                      {{ keyword }},<br>
                    {% endif %}
                  {% endfor %}
                </p>
              </td>
              <td><p class="hidden">{{ project.code }}</p><a href="{{ project.code }}" 
                {%- capture site_icon -%}
                  {%- if project.code contains "gitlab.com" -%}
                    gitlab
                  {%- elsif project.code contains "pypi.org" -%}
                    python
                  {%- else -%}
                    github
                  {%- endif -%}
                {%- endcapture -%}
                class="card-link"><i class="fab fa-{{site_icon}} fa-2x"></i></a></td>
              <td>{% if project.docs != blank %}<p class="hidden">{{ project.docs }}</p><a href="{{ project.docs }}" class="card-link"><i class="fas fa-book fa-2x"></i></a>{% endif %}</td>
              <td>{% if project.url != blank %}<p class="hidden">{{ project.url }}</p><a href="{{ project.url }}" class="card-link"><i class="fas fa-globe fa-2x"></i></a>{% endif %}</td>
              <td>{{ project.contact }}</td>
              <td>{% if project.community != blank %}<p class="hidden">{{ project.community[1] }}</p><img src="{{ project.community[0] }}" alt="{{ project.community[project.community.length-1] }}">{% endif %}</td>
              <td>{% if project.documentation != blank %}<p class="hidden">{{ project.documentation[1] }}</p><img src="{{ project.documentation[0] }}" alt="{{ project.documentation[project.documentation.length-1] }}">{% endif %}</td>
              <td>{% if project.testing != blank %}<p class="hidden">{{ project.testing[1] }}</p><img src="{{ project.testing[0] }}" alt="{{ project.testing[project.testing.length-1] }}">{% endif %}</td>
              <td>{% if project.software_maturity != blank %}<p class="hidden">{{ project.software_maturity[1] }}</p><img src="{{ project.software_maturity[0] }}" alt="{{ project.software_maturity[project.software_maturity.length-1] }}">{% endif %}</td>
              <td>{% if project.python3 != blank %}<p class="hidden">{{ project.python3[1] }}</p><img src="{{ project.python3[0] }}" alt="{{ project.python3[project.python3.length-1] }}">{% endif %}</td>
              <td>{% if project.license != blank %}<p class="hidden">{{ project.license[1] }}</p><img src="{{ project.license[0] }}" alt="{{ project.license[project.license.length-1] }}">{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>

      <div class="tab-pane fade" id="cards{{id}}">
        <div class="card-columns">
        {% for project in {{include.sorted_projects}} %}
            <div class="card">
                {% if project.logo == blank%}
                <img class="card-img-top img-fluid rounded-circle mx-auto" src="{{ site.baseurl }}/img/PyHC logo 750x750.png"/>
                {% else %}
                <img class="card-img-top img-fluid rounded mx-auto" src="{{ project.logo }}"/>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ project.name }}</h4>
                    <p class="card-text">{{ project.description }}<br>
                    <b>{{ project.contact }}</b>
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ project.code }}" 
                      {%- capture site_icon -%}
                        {%- if project.code contains "gitlab.com" -%}
                          gitlab
                        {%- elsif project.code contains "pypi.org" -%}
                          python
                        {%- else -%}
                          github
                        {%- endif -%}
                      {%- endcapture -%}
                      class="card-link"><i class="fab fa-{{site_icon}} fa-2x"></i></a>
                    {% if project.docs != blank %}<a href="{{ project.docs }}" class="card-link"><i class="fas fa-book fa-2x"></i></a>{% endif %}
                    {% if project.url != blank %}<a href="{{ project.url }}" class="card-link"><i class="fas fa-globe fa-2x"></i></a>{% endif %}
                </div>
            </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
