<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#table{{id}}" class="nav-link active" data-toggle="tab">Table</a>
    </li>
      <li class="nav-item">
          <a href="#cards{{id}}" class="nav-link" data-toggle="tab">Cards</a>
      </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade show active" id="table{{id}}">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Code</th>
              <th scope="col">Docs</th>
              <th scope="col">Site</th>
              <th scope="col">Contact</th>
              <th scope="col">Community</th>
              <th scope="col">Documentation</th>
              <th scope="col">Testing</th>
              <th scope="col">Software Maturity</th>
              <th scope="col">Python 3</th>
              <th scope="col">License</th>
            </tr>
          </thead>

          <tbody>
            {% for project in {{include.sorted_projects}} %}
            <tr>
              <th>{{ project.name }}</th>
              <td>{{ project.description }}</td>
              <td><a href="{{ project.code }}" class="card-link"><i class="fab fa-{% if project.code contains "gitlab.com" %}gitlab{% else %}github{% endif %} fa-2x"></i></a></td>
              <td>{% if project.docs != blank %}<a href="{{ project.docs }}" class="card-link"><i class="fas fa-book fa-2x"></i></a>{% endif %}</td>
              <td>{% if project.url != blank %}<a href="{{ project.url }}" class="card-link"><i class="fas fa-globe fa-2x"></i></a>{% endif %}</td>
              <td>{{ project.contact }}</td>
              <td>{% if project.community != blank %}<img src="{{ project.community[0] }}" alt="{{ project.community[project.community.length-1] }}">{% endif %}</td>
              <td>{% if project.documentation != blank %}<img src="{{ project.documentation[0] }}" alt="{{ project.documentation[project.documentation.length-1] }}">{% endif %}</td>
              <td>{% if project.testing != blank %}<img src="{{ project.testing[0] }}" alt="{{ project.testing[project.testing.length-1] }}">{% endif %}</td>
              <td>{% if project.software_maturity != blank %}<img src="{{ project.software_maturity[0] }}" alt="{{ project.software_maturity[project.software_maturity.length-1] }}">{% endif %}</td>
              <td>{% if project.python3 != blank %}<img src="{{ project.python3[0] }}" alt="{{ project.python3[project.python3.length-1] }}">{% endif %}</td>
              <td>{% if project.license != blank %}<img src="{{ project.license[0] }}" alt="{{ project.license[project.license.length-1] }}">{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>

      <div class="tab-pane fade" id="cards{{id}}">
        <div class="card-columns">
        {% for project in {{include.sorted_projects}} %}
            <div class="card">
                {% if project.logo == blank%}
                <img class="card-img-top img-fluid rounded-circle mx-auto" src="{{ site.baseurl }}/img/heliopython-default-logo.png"/>
                {% else %}
                <img class="card-img-top img-fluid rounded mx-auto" src="{{ project.logo }}"/>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ project.name }}</h4>
                    <p class="card-text">{{ project.description }}<br>
                    <b>{{ project.contact }}</b>
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ project.code }}" class="card-link"><i class="fab fa-{% if project.code contains "gitlab.com" %}gitlab{% else %}github{% endif %} fa-2x"></i></a>
                    {% if project.docs != blank %}<a href="{{ project.docs }}" class="card-link"><i class="fas fa-book fa-2x"></i></a>{% endif %}
                    {% if project.url != blank %}<a href="{{ project.url }}" class="card-link"><i class="fas fa-globe fa-2x"></i></a>{% endif %}
                </div>
            </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
