<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#table{{id}}" class="nav-link active" data-toggle="tab">Table</a>
    </li>
      <li class="nav-item">
          <a href="#cards{{id}}" class="nav-link" data-toggle="tab">Cards</a>
      </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade show active" id="table{{id}}">
        <table class="table table-striped" id="dataTable{{id}}">
          <!-- Taxonomy drop-down filters 
               TODO: generate dynamically from taxonomy.yml,
                     put description values in tooltips.     -->
          <div class="taxonomy-filters">
            <p>Filter by keywords:</p>
            <label for="science_area">Science Area</label>
            <select name="science_area" id="science_area{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="solar">solar</option>
              <option value="magnetosphere">magnetosphere</option>
              <option value="ionosphere_thermosphere_mesosphere">ionosphere_thermosphere_mesosphere</option>
              <option value="heliosphere">heliosphere</option>
              <option value="planetary">plasma_physics</option>
            </select>

            <label for="functionality">Functionality</label>
            <select name="functionality" id="functionality{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="time">time</option>
              <option value="coordinates">coordinates</option>
              <option value="data_retrieval">data_retrieval</option>
              <option value="line_plots">line_plots</option>
              <option value="2D_imaging">2D_imaging</option>
              <option value="plotting">plotting</option>
              <option value="3D_graphics">3D_graphics</option>
              <option value="data_container">data_container</option>
              <option value="power_spectra">power_spectra</option>
              <option value="spectra">spectra</option>
              <option value="calibration">calibration</option>
              <option value="multidimensional">multidimensional</option>
              <option value="interactive">interactive</option>
            </select>

            <label for="span">Span</label>
            <select name="span" id="span{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="general">general</option>
              <option value="specific">specific</option>
            </select>

            <label for="input_output_formats">Input/Output Formats</label>
            <select name="input_output_formats" id="input_output_formats{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="fits">fits</option>
              <option value="cdf">cdf</option>
              <option value="netcdf">netcdf</option>
              <option value="ascii">ascii</option>
              <option value="idl_save">idl_save</option>
              <option value="geny">geny</option>
              <option value="hdf5">hdf5</option>
              <option value="omni">omni</option>
              <option value="csv">csv</option>
            </select>

            <label for="input_sources">Input Sources</label>
            <select name="input_sources" id="input_sources{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="local">local</option>
              <option value="remote">remote</option>
              <option value="web_service">web_service</option>
            </select>

            <label for="intent">Intent</label>
            <select name="intent" id="intent{{id}}" onchange="updateTaxonomyFilters(this.id)">
              <option value=""></option>
              <option value="data_analysis">data_analysis</option>
              <option value="simulation">simulation</option>
              <option value="theory">theory</option>
              <option value="data_assimilation">data_assimilation</option>
              <option value="laboratory">laboratory</option>
              <option value="instrumentation">instrumentation</option>
              <option value="data_access">data_access</option>
              <option value="reference_data">reference_data</option>
              <option value="wrapper">wrapper</option>
            </select>
          </div>
          <!-------------------------------->
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Code</th>
              <th scope="col">Docs</th>
              <th scope="col">Site</th>
              <th scope="col">Contact</th>
              <th scope="col">Community</th>
              <th scope="col">Documentation</th>
              <th scope="col">Testing</th>
              <th scope="col">Software Maturity</th>
              <th scope="col">Python 3</th>
              <th scope="col">License</th>
            </tr>
          </thead>

          <tbody>
            {% for project in {{include.sorted_projects}} %}
            <tr>
              <th>{{ project.name }}</th>
              <td>
                {{ project.description }}
                <p class="hidden">
                  <br>
                  <i>Keywords: </i><br>
                  {% for keyword in {{project.keywords}} %}
                    {% if forloop.last == true %}
                      {{ keyword }}
                    {% else %}
                      {{ keyword }},<br>
                    {% endif %}
                  {% endfor %}
                </p>
              </td>
              <td><p class="hidden">{{ project.code }}</p><a href="{{ project.code }}" 
                {%- capture site_icon -%}
                  {%- if project.code contains "gitlab.com" -%}
                    gitlab
                  {%- elsif project.code contains "pypi.org" -%}
                    python
                  {%- else -%}
                    github
                  {%- endif -%}
                {%- endcapture -%}
                class="card-link"><i class="fab fa-{{site_icon}} fa-2x"></i></a></td>
              <td>{% if project.docs != blank %}<p class="hidden">{{ project.docs }}</p><a href="{{ project.docs }}" class="card-link"><i class="fas fa-book fa-2x"></i></a>{% endif %}</td>
              <td>{% if project.url != blank %}<p class="hidden">{{ project.url }}</p><a href="{{ project.url }}" class="card-link"><i class="fas fa-globe fa-2x"></i></a>{% endif %}</td>
              <td>{{ project.contact }}</td>
              <td>{% if project.community != blank %}<p class="hidden">{{ project.community[1] }}</p><img src="{{ project.community[0] }}" alt="{{ project.community[project.community.length-1] }}">{% endif %}</td>
              <td>{% if project.documentation != blank %}<p class="hidden">{{ project.documentation[1] }}</p><img src="{{ project.documentation[0] }}" alt="{{ project.documentation[project.documentation.length-1] }}">{% endif %}</td>
              <td>{% if project.testing != blank %}<p class="hidden">{{ project.testing[1] }}</p><img src="{{ project.testing[0] }}" alt="{{ project.testing[project.testing.length-1] }}">{% endif %}</td>
              <td>{% if project.software_maturity != blank %}<p class="hidden">{{ project.software_maturity[1] }}</p><img src="{{ project.software_maturity[0] }}" alt="{{ project.software_maturity[project.software_maturity.length-1] }}">{% endif %}</td>
              <td>{% if project.python3 != blank %}<p class="hidden">{{ project.python3[1] }}</p><img src="{{ project.python3[0] }}" alt="{{ project.python3[project.python3.length-1] }}">{% endif %}</td>
              <td>{% if project.license != blank %}<p class="hidden">{{ project.license[1] }}</p><img src="{{ project.license[0] }}" alt="{{ project.license[project.license.length-1] }}">{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>

      <div class="tab-pane fade" id="cards{{id}}">
        <div class="card-columns">
        {% for project in {{include.sorted_projects}} %}
            <div class="card">
                {% if project.logo == blank%}
                <img class="card-img-top img-fluid rounded-circle mx-auto" src="{{ site.baseurl }}/img/PyHC logo 750x750.png"/>
                {% else %}
                <img class="card-img-top img-fluid rounded mx-auto" src="{{ project.logo }}"/>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ project.name }}</h4>
                    <p class="card-text">{{ project.description }}<br>
                    <b>{{ project.contact }}</b>
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="{{ project.code }}" 
                      {%- capture site_icon -%}
                        {%- if project.code contains "gitlab.com" -%}
                          gitlab
                        {%- elsif project.code contains "pypi.org" -%}
                          python
                        {%- else -%}
                          github
                        {%- endif -%}
                      {%- endcapture -%}
                      class="card-link"><i class="fab fa-{{site_icon}} fa-2x"></i></a>
                    {% if project.docs != blank %}<a href="{{ project.docs }}" class="card-link"><i class="fas fa-book fa-2x"></i></a>{% endif %}
                    {% if project.url != blank %}<a href="{{ project.url }}" class="card-link"><i class="fas fa-globe fa-2x"></i></a>{% endif %}
                </div>
            </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
